.container
  %h2 Edit schema

  - unless params.valid?
    .errors
    %h5 There was a problem with your submission
    %ul
      - params.error_messages.each do |message|
        = message

= render partial: 'form', locals: { url: routes.schema_path(schema.id), method: :patch, schema: schema }
