.container
  %h2 Add site

  - unless params.valid?
    .errors
    %h5 There was a problem with your submission
    %ul
      - params.error_messages.each do |message|
        = message

= form_for :site, routes.sites_path, method: :post do
  - div class: 'form-group' do
    - label :name
    - text_field :name, class: 'form-control'

  - div class: 'form-group' do
    - label :url
    - url_field :url, class: 'form-control'

  - div class: 'form-group' do
    - submit 'Create', class: 'btn btn-primary'
