.container
  %h2 Add output

  - unless params.valid?
    .errors
    %h5 There was a problem with your submission
    %ul
      - params.error_messages.each do |message|
        = message

= render partial: 'form', locals: { url: routes.outputs_path, method: :post, output: nil }
